<p>
  In this book, we will recreate the mini-game featured at the end of the prologue, step by step. To begin, choose your reader profile, as the content will adapt to suit your chosen profile.
</p>

<%= render "reader_profile" %>



<h2>What is this book about?</h2>

<p data-reader-target="beginner developer">As a developer, you have the power to bring your ideas to life, just like a painter creates a masterpiece with a brush or a sculptor carves a beautiful statue from stone. But like any artist, it is up to you to develop <strong>your own unique style</strong> and approach to your craft.</p>

<p>The goal of this first book is to show how to make a game without using any extra <span data-reader-target="beginner developer"><strong>libraries</strong> or </span><strong>tools</strong>. Even though these tools are out there, doing it without them helps us understand what's happening under the hood.</p>

<p>It's not a requirement for becoming a game developer, but it's <strong>fun</strong> and encourages to think creatively about how to <strong>make the most of what we have</strong>.</p>

<p>So, we put all the extra tools in a box and get started.</p>

<%= book_illustration book, "packing_libs.png", "Packing all the extra libraries in a box" %>



<h2 data-reader-target="beginner developer">What do we need?</h2>

<p data-reader-target="beginner developer">
  We still need a few primary tools to make a game in JavaScript.
  We need a <strong>code editor</strong>, a <strong>web server</strong> and a <strong>web browser</strong>.
</p>

<p data-reader-target="beginner">I will use <%= link_with_icon "Google Chrome", "https://www.google.com/chrome/", "chrome" %> as our web browser and <%= link_with_icon "VSCode", "https://code.visualstudio.com/", "vscode" %> as our code editor. For the web server, I usually use npm's <%= link_with_icon "http-server", "https://www.npmjs.com/package/http-server", "npm" %>.</p>

<div class="beginners_note" data-reader-target="beginner">
  <p>There are numerous alternatives available for quickly creating a local web server. I suggest conducting a search on your preferred search engine.</p>

  <p>Once you've installed your chosen tool, you can create a new project folder and add your <strong>HTML</strong>, <strong>CSS</strong>, and <strong>JavaScript</strong> files to it. You can then access your web application by typing <span class="code">localhost</span> in your web browser's address bar.</p>
</div>

<p data-reader-target="beginner developer">A <%= link_with_icon "GIT repository", "https://github.com/Perky-Crow/fallen_hero", "github" %> is available to track the progression of our game throughout its chapters. At the end of each chapter, you will find a link to the project's state at that time.</p>

<p data-reader-target="beginner developer">I have created a starting point for the project, which includes minimalist HTML, CSS, JavaScript files and images.</p>

<p data-reader-target="beginner developer">You may choose to either <%= link_with_icon "download", "https://github.com/Perky-Crow/fallen_hero/releases/tag/c1", "github" %> the source code or <%= link_with_icon "explore", "https://github.com/Perky-Crow/fallen_hero/tree/c1", "github" %> it at your convenience.</p>



<h2>The 7 labors</h2>

<p>
  <em>Dear reader</em>, You are now prepared for the journey ahead. Let me outline the seven tasks that await us:
</p>

<ul>
  <li>First, we will learn how to draw on a canvas and create our own tools to make art.</li>

  <li>Next, we will use our imagination to paint a scene on the canvas.</li>

  <li>We will master the art of controlling time and make our scene come to life.</li>

  <li>We will create an infinitely expanding world, where the character is always discovering new terrain and obstacles to overcome.</li>

  <li>We will then learn to control our character and make them jump.</li>

  <li>The game can't be complete without some element of danger, so we will add collisions.</li>

  <li>Finally, we will apply everything we've learned to create the final game.</li>
</ul>

<%= render "chapter_sources",
  download_url: "https://github.com/Perky-Crow/fallen_hero/releases/tag/c1",
  explore_url: "https://github.com/Perky-Crow/fallen_hero/tree/c1"
%>