
<p>There is no "best way" to approach game development. What I propose here is my personal vision, and there are countless other ways to do it. It's up to you to find the approach that suits you.</p>

<p>Keep in mind that creating a game in pure JavaScript without any tools is a challenging task. The game designed for this book is very simple and requires few advanced techniques.</p>

<p>If you want to tackle a more ambitious project, it is preferable to rely on existing tools, such as <%= link_with_icon "PIXI.js", "https://pixijs.com/", "pixi" %>, <%= link_with_icon "Phaser", "https://phaser.io/", "phaser" %>, or <%= link_with_icon "Babylon.js", "https://www.babylonjs.com/", "babylon" %>, to name a few.</p>

<p>By the way, <strong>PIXI.js</strong> will be the subject of the next book!</p>



<h2>The final word</h2>

<p>The source code of this website is fully available on GitHub. Feel free to use it for your own projects if this approach inspires you.</p>

<p>We do not keep any record of your visit to this site. We do not collect any personal data. This is a deliberate choice on our part.</p>

<p>However, your feedback would be greatly appreciated. To do so, our favorite communication channel is our <%= link_with_icon "Discord", "https://discord.gg/ppTB595Yec", "discord" %> server, so feel free to drop by!</p>

<p>Discover more about us on the <%= link_with_icon "Perky Crow", "https://perkycrow.com/", "perky" %> website.</p>

<p>Thank you for following along with this little adventure to the end.</p>
