<footer id="footer">

  <p>
    Created by <%= link_to "Perky Crow", "https://www.perkycrow.com/" %><br>
    Source code hosted on <%= link_to "GitHub", "https://github.com/Perky-Crow/undead", target: "_blank" %>
  </p>

  <p class="disclaimer">
    This website does not use cookies and doesn't retain any of your data, not even analytics.<br>
    <%= link_to "LocalStorage", "https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage", target: "_blank" %> is used to store your reading profile locally on your device but it's not saved anywhere else.
  </p>

  <p>
    <%= link_to "Legal notice", "https://www.perkycrow.com/legal_notice", target: "_blank" %> |
    <%= link_to "Twitter", "https://twitter.com/perkycrow1", target: "_blank" %> |
    <%= link_to "GitHub", "https://github.com/Perky-Crow", target: "_blank" %> |
    <%= link_to "Instagram", "https://www.instagram.com/perkycrow/", target: "_blank" %> |
    <%= link_to "Discord", "https://discord.gg/ppTB595Yec", target: "_blank" %>
  </p>

</footer>
