<div class="menu">
  <nav>
    <ul>
      <li>
        <%= link_to book_path(book.slug) do %>
          <span class="category">Summary</span>
          <span class="title"><%= book.title %></span>
        <% end %>
      </li>
      <% book.chapters.each do |chapter| %>
        <li>
          <%= link_to chapter_path(book.slug, chapter.slug) do %>
            <span class="category"><%= numeral_to_roman(chapter.name) %></span>
            <span class="title"><%= chapter.title %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>