<%= content_for :title, @book.title %>
<%= content_for :description, @book.description %>
<%= content_for :keywords, @book.keywords %>


<div class="book">
  <h1 class="title"><%= @book.title %></h1>
  <div class="info">Published in <%= @book.published_at %> by <%= link_to @book.author, @book.author_url, target: "_blank" %></div>
  <div class="cover"><%= image_tag @book.cover_path, alt: "Book cover for #{@book.title}" %></div>
  <div class="pitch"><%= simple_markdown @book.pitch %></div>

  <% if @book.credits %>
    <div class="credits"><%= simple_markdown @book.credits %></div>
  <% end %>
</div>


<div class="read_next">
  <span class="category">Next: <%= @book.first_chapter.name %></span><br>
  <%= link_to @book.first_chapter.title, chapter_path(@book.slug, @book.first_chapter.slug) %>
</div>
