<%= content_for :title, "#{@book.title} - #{@chapter.title}" %>
<%= content_for :description, @chapter.description %>
<%= content_for :keywords, @chapter.keywords %>


<div class="chapter" data-controller="reader">

  <div class="time_to_read" data-controller="time"></div>

  <div class="category"><%= @chapter.name %></div>

  <div class="title">
    <h1><%= @chapter.title %></h1>
  </div>

  <article ref="content">
    <%= render_chapter @book, @chapter %>
  </article>

</div>


<% next_chapter = @book.next_chapter(@chapter) %>

<% if next_chapter %>

  <div class="read_next">
    <span class="category">Next: <%= next_chapter.name %></span><br>
    <%= link_to next_chapter.title, chapter_path(@book.slug, next_chapter.slug) %>
  </div>

<% end %>
